.coin {
    width: 80px;
    height: 80px;
    display:inline-block;
}

.coin_2_euro {
    background: url('../../Assets/Coins/2euro.png');
}

.coin_1_euro {
    background: url('../../Assets/Coins/1euro.png');
}

.coin_50_cent {
    background: url('../../Assets/Coins/50cent.png');
}

.coin_20_cent {
    background: url('../../Assets/Coins/20cent.png');
}

.coin_10_cent {
    background: url('../../Assets/Coins/10cent.png');
}

.coin_5_cent {
    background: url('../../Assets/Coins/5cent.png');
}

.coin_2_cent {
    background: url('../../Assets/Coins/2cent.png');
}

.coin_1_cent {
    background: url('../../Assets/Coins/1cent.png');
}
